.main-header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    width: 100%;
    border-bottom: 2px solid black;
}

.main-header__title--blue {
    color: var(--blue);
    color: blue;
    font-size:60px;
}

.main-header__title--orange {
    color: var(--orange);
    color: orange;
    font-size:60px;
}

.main-header__menu {
    display: flex;
    justify-content: end;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.main-header__menu a {
  padding: 10px 10px;
  color: var(--gray);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  transition: letter-spacing 0.3s ease-in-out;
  letter-spacing: 1.5px;
  position: relative;
}

.main-header__menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--gray);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform-origin: center;
}

.main-header__menu a:hover::after {
  width: 100%;
  left: 0;
}

.main-header__img {
  width: 12rem;
}

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.badge-cart {
    background-color: var(--gray);
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.search-form{
    height: 44px;
    display: flex;
    width: 36.8vw;
}

.search-form input{
    box-sizing: border-box;
    height: 56px;
    padding: 28px;
    flex:1;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 22px;
}

.search-form button{
    width: 56px;
    height: 56px;
    background-color: var(--blue);
    border:none;
    color: #fff;
    font-size: 22px;
}
