<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">About</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id est vel tellus viverra posuere vel non eros. Sed vel sollicitudin ipsum, a viverra arcu.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contacts</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i>{{ ' dani_vianaitb@outlook.com' }}</li>
        <li><i class="fa-solid fa-phone"></i> (11) 97740-8772</li>
        <li><i class="fa-brands fa-whatsapp"></i> (11) 97740-8772</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; All the rights reserved
  </section>
</footer>
