<h2 class="contact__title">Get in touch!</h2>
<section class="contact__container">
  <form class="contact-form" [formGroup]="formContact" (ngSubmit)="sendForm()">
    <input
      type="text"
      placeholder="Enter your name"
      formControlName="name"
      [class.valid]="formContact.controls['name'].valid"
      [class.invalid]="formContact.controls['name'].invalid &&
      (formContact.controls['name'].touched || formContact.controls['name'].dirty)"
    >
    <div *ngIf="formContact.controls['name'].invalid &&
      (formContact.controls['name'].touched || formContact.controls['name'].dirty)">
      <small class="error-message" *ngIf="formContact.controls['name'].hasError('minlength')">
        Name must be at least 4 characters long.
      </small>
      <small class="error-message" *ngIf="formContact.controls['name'].hasError('required')">
        Name is required.
      </small>
    </div>

    <input
      type="text"
      placeholder="Enter the subject"
      formControlName="subject"
      [class.valid]="formContact.controls['subject'].valid"
      [class.invalid]="formContact.controls['subject'].invalid &&
      (formContact.controls['subject'].touched || formContact.controls['subject'].dirty)"
    >
    <div *ngIf="formContact.controls['subject'].invalid &&
      (formContact.controls['subject'].touched || formContact.controls['subject'].dirty)">
      <small class="error-message" *ngIf="formContact.controls['subject'].hasError('minlength')">
        Subject must be at least 10 characters long.
      </small>
      <small class="error-message" *ngIf="formContact.controls['subject'].hasError('required')">
        Subject is required.
      </small>
    </div>

    <input
      type="tel"
      placeholder="(00) 00000-0000"
      mask="(00) 00000-0000"
      formControlName="phone"
      [class.valid]="formContact.controls['phone'].valid"
      [class.invalid]="formContact.controls['phone'].invalid &&
      (formContact.controls['phone'].touched || formContact.controls['phone'].dirty)"
    >
    <div *ngIf="formContact.controls['phone'].invalid &&
      (formContact.controls['phone'].touched || formContact.controls['phone'].dirty)">
      <small class="error-message" *ngIf="formContact.controls['phone'].hasError('minlength')">
        Please enter a valid phone number.
      </small>
      <small class="error-message" *ngIf="formContact.controls['phone'].hasError('required')">
        Phone is required.
      </small>
    </div>

    <input
      type="email"
      placeholder="Enter your e-mail"
      formControlName="email"
      [class.valid]="formContact.controls['email'].valid"
      [class.invalid]="formContact.controls['email'].invalid &&
      (formContact.controls['email'].touched || formContact.controls['email'].dirty)"
    >
    <div *ngIf="formContact.controls['email'].invalid &&
      (formContact.controls['email'].touched || formContact.controls['email'].dirty)">
      <small class="error-message" *ngIf="formContact.controls['email'].hasError('email')">
        Please enter a valid e-mail.
      </small>
      <small class="error-message" *ngIf="formContact.controls['email'].hasError('required')">
        Email is required.
      </small>
    </div>

    <textarea
      maxlength="300"
      placeholder="Type your message"
      formControlName="message"
      rows="4"
      [class.valid]="formContact.controls['message'].valid"
      [class.invalid]="formContact.controls['message'].invalid &&
      (formContact.controls['message'].touched || formContact.controls['message'].dirty)"
    ></textarea>
    <div *ngIf="formContact.controls['message'].invalid &&
      (formContact.controls['message'].touched || formContact.controls['message'].dirty)">
      <small class="error-message" *ngIf="formContact.controls['message'].hasError('minlength')">
        Message must be at least 20 characters long.
      </small>
      <small class="error-message" *ngIf="formContact.controls['message'].hasError('required')">
        Message is required.
      </small>
    </div>

    <button type="submit" [disabled]="formContact.invalid">Send</button>
  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.862583392403!2d-46.8865212!3d-23.501458600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf03eb33a736b3%3A0x4b87ff75e0588ed7!2sR.%20Jos%C3%A9%20Roberto%20-%20Barueri%2C%20SP%2C%2006406-150!5e0!3m2!1spt-BR!2sbr!4v1739579100500!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. José Roberto - Barueri, SP, 06406-150</p>
  </address>
</section>
