.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  column-gap: 20px;
  padding: 20px 0;
  height: 80vh;
}

.contact__title {
    font-size: 44px;
    color: var(--black);
    font-weight: 700;
    padding: 8px 0;
}

.contact-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    width: 100%;
}

.contact-form input {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--clean-white);
  font-size: 16px
}

textarea {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
  outline: none;
  background-color: var(--clean-white);
  font-size: 14px;
}

.contact-form button {
    align-self: flex-start;
    background-color: var(--black);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    filter: brightness(1.1);
}

.contact-form button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.contact-form button:disabled:hover {
    filter: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form input.valid,
.contact-form textarea.valid {
    border: 1px solid green;
}

.contact-form input.invalid,
.contact-form textarea.invalid {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}

address {
    max-width: 500px;
    width: 100%;
}

iframe {
  border-radius: 15px;
  width: 100%;
}

@media (max-width: 1200px) {
    .contact__container {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0;
        padding: 20px;
        height: auto;
    }

    .contact-form input, textarea {
        width: 100%;
    }
}
