.cart-container {
  min-height: 80vh;
}

.cart-title {
  font-size: 44px;
  color: var(--black);
  font-weight: 700;
  padding: 8px 0;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th, .cart-table td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  font-weight: bold;
  background-color: #f0f0f0;
}

.cart-item-image {
  width: 100px;
}

.product-image__container {
  padding-inline: 10px;
  border-radius: 10px;
}

img {
  width: 100px;
  height: 100px;
  display: block;
}

.cart-item {
  background-color: white;
}

.cart-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.cart-item-price {
  width: 100px;
  text-align: center;
  font-weight: 500;
}

.cart-item-quantity input {
  width: 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item-remove .remove-button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  transition: .2s all;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.cart-item-remove .remove-button:hover {
  filter: brightness(0.9);
}

.cart-total {
  font-size: 24px;
  color: var(--black);
  font-weight: 700;
  padding: 8px 0;
}

.buy-button {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  transition: .3s all;
  border-radius: 10px;
  cursor: pointer
}

.buy-button:hover {
  background-color:rgb(65, 65, 65);
}

.label-btn {
  border-radius: 50%;
  font-size: 16px;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.label-btn:hover {
  filter: brightness(0.9);
}

.btn1 {
  margin-right: 5px;
}

.btn2 {
  margin-left: 5px;
}

.cart-mobile {
  display: none;
  margin-block: 10px;
}

.cart-mobile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  background-color: white;
  max-width: 350px;
  width: 100%;
}

.cart-mobile-quantity {
  padding-left: 6rem;
}

.cart-mobile-description {
  font-size: 18px;
  width: 12rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-mobile-price {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
  font-weight: 600;
  width: 12rem;
}

.cart-mobile-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.cart-mobile-quantity input {
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  width: 20px;
  border-radius: 10px;
}

.remove-button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.remove-button:hover {
  filter: brightness(0.9);
}

@media (max-width: 568px) {
  .cart-table {
    display: none;
  }

  .cart-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cart-title {
    font-size: 32px;
  }

  .cart-total {
    font-size: 20px;
  }

  .buy-button {
    font-size: 18px;
    padding: 8px 16px;
  }

  .cart-mobile-quantity {
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 2px 0;
    padding-left: 5.5rem
  }

  .cart-mobile-quantity input {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    width: 18px;
    border-radius: 5px;
  }
}
