<section class="cart-container">
  <h2 class="cart-title">Carrinho</h2>
  <div *ngIf="cartItems.length > 0; else withoutProducts">
    <table class="cart-table">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Nome</th>
          <th>Valor</th>
          <th>Quantidade</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        @for (cartItem of cartItems; track cartItem.id) {
        <tr class="cart-item">
          <td class="cart-item-image">
            <div
              class="product-image__container"
              [style.background-color]="cartItem.backgroundColor"
            >
              <img [src]="cartItem.image" />
            </div>
          </td>
          <td class="cart-item-description">{{ cartItem.description }}</td>
          <td class="cart-item-price">
            {{ cartItem.price | currency }}
          </td>
          <td class="cart-item-quantity">
            <div class="quantity-buttons">
              <button
                class="label-btn btn1"
                type="button"
                (click)="decrementCartItemQuantity(cartItem)"
                [style.background-color]="cartItem.backgroundColor"
              >
                -
              </button>
              <input
                type="number"
                [(ngModel)]="cartItem.quantity"
                (change)="calculateTotalPrice()"
                min="1"
                [max]="cartItem.stock"
              />
              <button
                class="label-btn btn2"
                type="button"
                (click)="incrementCartItemQuantity(cartItem)"
                [style.background-color]="cartItem.backgroundColor"
              >
                +
              </button>
            </div>
          </td>
          <td class="cart-item-remove">
            <button class="remove-button" (click)="removeFromCart(cartItem.id)">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <h2 class="cart-total">Total: {{ totalPrice | currency }}</h2>
    <button class="buy-button" (click)="buyItems()">Comprar</button>
  </div>

  <ng-template class="ngTemplate" #withoutProducts
    >Nenhum produto foi adicionado ao carrinho</ng-template
  >
</section>
