.search-form{
  display: flex;
  gap: 5px;
}

.search-form input {
  box-sizing: border-box;
  flex: 1;
  padding: 0 15px;
  background-color: #ECFBF2;
  color: var(--gray);
  border: none;
  border-bottom: 3px solid var(--gray);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  background-color: var(--gray);
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
