.search-form {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-container {
  border: 1px solid black;
  border-radius: 15px;
}

.search-form input {
  box-sizing: border-box;
  flex: 1;
  padding: 5px 15px;
  background-color: var(--clean-white);
  color: var(--black);
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  border-radius: 15px;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  border: none;
  background-color: var(--clean-white);
  color: black;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px
}

.cart-container {
  position: relative;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--black);
  padding-left: 5px;
}

.fa-bag-shopping {
  font-size: 22px;
  position: relative;
}
.img-bag{
  width: 26px;
  height: 26px;
  margin-right: 5px;
}
.badge-cart {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: var(--black);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}
