<section class="product-list">
  <div
    class="product-list__card animate-up"
    *ngFor="let product of products; let i = index; trackBy: trackByProductId"
    [ngStyle]="{ 'animation-delay': i * 0.05 + 's' }"
  >
    <a class="product-list__link">
      <div
        class="product-image__container"
        [style.background-color]="getBackgroundColor(i)"
      >
        <img
          [src]="product.image"
          [alt]="product.description ? product.description : 'Product image'"
          loading="lazy"
        />
      </div>
      <div class="product-list__info">
        <div class="product-list__texts">
          <h2 class="product-item__name">{{ product.description }}</h2>
          <p class="product-item__price-description">
            {{ product.priceDescription }}
          </p>
          <p class="product-item__price">{{ product.price | currency }}</p>
        </div>
        <button
          type="button"
          class="product-item__buy-button"
          (mouseenter)="onMouseEnter(product.id)"
          (mouseleave)="onMouseLeave(product.id)"
        >
          <i class="fa-solid fa-plus"></i>
          <span
            (click)="navigateToProduct(product, i)"
            *ngIf="isHovered[product.id] || isMobile"
          >
            Add to cart
          </span>
        </button>
      </div>
    </a>
  </div>

  <div
    *ngIf="!isFiltering && products.length < allProducts.length"
    class="loading-container"
  >
    <div class="loading-spinner"></div>
  </div>
</section>
