<section class="product-list">
  @for (product of products; track product) {
    <div class="product-list__card">
        <a routerLink="/products/{{ product.id }}" class="product-list__link">

            <img [src]="product.image" [alt]="product.description">
            <h2 class="product-item__name">
              {{ product.description }}
            </h2>
            <p class="product-item__price">
              {{ product.price | currency: 'BRL' }}
            </p>
            <p class="product-item__price-description">
              {{ product.priceDescription }}
            </p>
            <button class="product-item__buy-button" type="button">
              Buy
            </button>

        </a>
    </div>
  }
</section>
