<section class="product__container">
  <div class="product-image__container">
    <img [src]="product?.image" alt="">
  </div>
  <div class="product-description__container">
    <h2 class="product__name">{{ product?.description}}</h2>
    <h3 class="product__price">{{ product?.price | currency:"BRL"}}</h3>
    <p>Available stock</p>
    <label>
      Quantity
      <input type="number" [(ngModel)]="quantity" min="1" max="{{ product?.stock }}">
      unit(s)
    </label>
    <p class="product__availability">
      {{ product?.stock}} unit(s) in stock
    </p>
    <button (click)="addToCart()">Add to cart</button>
  </div>
</section>
